In [11]:
# Dependencies
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import math
import seaborn as sns

In [12]:
# The path to our CSV file
rig_file = "rig_count_output.csv"

# Read our rig count data into pandas
rig_df = pd.read_csv(rig_file)

rig_df.head()

,Unix,Alabama,Alaska,Arizona,Arkansas,California,Colorado,D.C.,Delaware,Florida,...,Tennesee,Texas,Utah,Vermont,Virginia,W. Virgina,Wash.,Wisconsin,Wyoming,Time
0,946684800.0,1.50,4.50,0.0,0.25,16.50,18.25,0.0,0.0,0.0,...,0.0,268.75,14.00,0.0,0.25,9.75,0.0,0.0,38.75,1.0
1,949363200.0,0.25,4.75,0.0,0.00,16.75,17.25,0.0,0.0,0.0,...,0.0,277.25,14.00,0.0,0.25,5.00,0.0,0.0,34.00,2.0
2,951868800.0,0.80,5.80,0.0,0.00,18.00,17.60,0.0,0.0,0.0,...,0.0,273.20,15.60,0.0,1.20,5.80,0.0,0.0,30.20,3.0
3,954547200.0,1.50,4.50,0.0,2.25,18.25,18.25,0.0,0.0,0.0,...,0.0,285.00,14.50,0.0,2.00,10.00,0.0,0.0,28.25,4.0
4,957139200.0,2.00,5.25,0.0,6.00,20.25,17.00,0.0,0.0,0.0,...,0.0,295.00,15.75,0.0,2.75,11.25,0.0,0.0,29.75,5.0

In [15]:
# The path to our CSV file
seismic_file = "seismic_data_9-28-17.csv"

# Read our rig count data into pandas
seismic_df = pd.read_csv(seismic_file)

seismic_df.columns

Index(['Unnamed: 0', 'alert', 'cd_by_month', 'cd_by_year', 'cd_for_plot',
       'cdi', 'code', 'converted_date', 'coordinates_3', 'detail', 'dmin',
       'epoch_by_month', 'felt', 'gap', 'geo_type', 'ids', 'lat', 'lng', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url'],
      dtype='object')

In [17]:
seismic_df.rename(columns={'epoch_by_month': 'Unix'}, inplace=True)
seismic_df.columns

Index(['Unnamed: 0', 'alert', 'cd_by_month', 'cd_by_year', 'cd_for_plot',
       'cdi', 'code', 'converted_date', 'coordinates_3', 'detail', 'dmin',
       'Unix', 'felt', 'gap', 'geo_type', 'ids', 'lat', 'lng', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url'],
      dtype='object')

In [23]:
combined_df = pd.merge(seismic_df, rig_df, how='inner', on='Unix')
combined_df.columns

Index(['Unnamed: 0', 'alert', 'cd_by_month', 'cd_by_year', 'cd_for_plot',
       'cdi', 'code', 'converted_date', 'coordinates_3', 'detail', 'dmin',
       'Unix', 'felt', 'gap', 'geo_type', 'ids', 'lat', 'lng', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url', 'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'D.C.', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Mass.', 'Michigan', 'Minn.', 'Mississippi',
       'Missouri', 'Montana', 'N. Carolina', 'N. Dakota', 'N. Hamp.',
       'N. Jersey', 'N. Mexico', 'N. York', 'Nebraska', 'Nevada', 'Ohio',
       'Oklahoma', 'Oregon', 'Penn.', 'Rhode Is.', 'S. Carolina', 'S. Dakota',
       'TOTAL', 'TOTAL US', 'Tennesee', 'Texas', 'Utah', 'Vermont', 'Virginia',
       'W. Virgina', 'Wash.', 'Wisconsin', 'Wyoming', 'Time'],
      dtype='object')

In [ ]:
# Take a look at it in CSV
combined_df.to_csv("combined_outer_data.csv")

In [ ]:
# Run 1-Sample T-Test
stats.ttest_1samp(a=veteran_sentiment, popmean=population_sentiment.mean())

In [ ]:
# Run 2-Sample T-Test
stats.ttest_ind(rig_df, seismic_df, equal_var=False)

In [ ]:
# Run Chi-Square Test to determine goodness of fit
stats.chisquare(f_obs=sorority_counts, f_exp=sorority_expected)

In [ ]:
# Chi-squared with contingency
stats.chi2_contingency(observed= observed)

In [ ]:
# Perform the ANOVA
stats.f_oneway(asian, black, hispanic, other, white)